@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tre-main-color: #836fff;
  --tre-hover-main-color: #211951;
  --tre-secondary-color: #e0cf97;
  --tre-secondary-light-color: #f7f3e7;
  --tre-alt-color: #15f5ba;
  --tre-dark-theme-color: #005559;
  --tre-white-color: #fff;
  --tre-gradient: linear-gradient(
    90deg,
    var(--tre-secondary-color) 0%,
    var(--tre-main-color) 100%
  );
  --tre-transition: all 0.4s cubic-bezier(0, 0.15, 0.3, 1);
  --tre-sec-trans: var(--tre-transition);
  --tre-head-dark-text: #b9b9b9;
  --tre-black-text: #9b9b9b;
  --tre-text-color: #828a91;
  --tre-error-color: #ee5253;
  --tre-dark-text: #1f242e;
  --tre-head-text: #405160;
  --tre-black-color: #101012;
  --tre-main-color-op-1: rgba(47, 198, 163, 0.1);
  --tre-secondary-color-op-1: rgb(224 207 151 / 15%);
  --tre-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  --tre-padding: 123px;
  --tre-padding-top: 80px;
  --tre-padding-bottom: 80px;
  --tre-border-color: rgba(255, 255, 255, 0.2);
  --tre-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.07);
  --tre-hover-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  --tre-trans-type: cubic-bezier(0, 0.15, 0.3, 1);
}

* {
  box-sizing: border-box;
  word-break: break-word;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--tre-white-color);
  background-image: none;
  color: var(--tre-head-text);
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
}

.ltr {
  direction: ltr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--tre-head-text);
  margin-top: 0;
  margin-bottom: 0.2em;
  line-height: 1.3;
  font-weight: 600;
  text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--tre-head-text);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

.alert-secondary {
  color: #dc2a2a;
}

.tre-icon i {
  color: var(--tre-white-color);
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

.tre-main-color,
.tre-main-color-title .tre-list-head-text {
  color: var(--tre-main-color);
}

.tre-alt-color {
  color: var(--tre-alt-color);
}

.tre-body-color {
  color: var(--tre-body-color);
}

.tre-main-bg {
  background-color: var(--tre-main-color);
}

.tre-alt-bg {
  background-color: var(--tre-alt-color) !important;
}

.tre-secondary-color {
  color: var(--tre-secondary-color);
}

.btn.tre-secondary-color {
  background-color: var(--tre-secondary-color);
  color: #000;
}

.tre-error-color {
  color: var(--tre-error-color);
}

.tre-gry-bg {
  background-color: var(--tre-gry-color);
}

/* Globals */
.tre-trans {
  transition: var(--tre-transition);
}

.tre-normal-font {
  font-weight: normal;
}

.d-flex-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

.circ {
  border-radius: 50%;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-abs-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pos-abs-full-bef::before,
.pos-abs-full-aft::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

b,
strong,
.bold {
  font-weight: 600;
}

.boldest {
  font-weight: 900;
}

.hidden {
  display: none !important;
}

a {
  color: var(--tre-body-color);
  text-decoration: none;
  transition: var(--tre-transition);
  background-color: transparent;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

button:focus {
  outline: 0 transparent;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  max-width: 100%;
  outline: 0 transparent !important;
  vertical-align: middle;
}

input[type="checkbox"],
input[type="radio"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
  appearance: none;
  background-color: #fff;
  color: currentColor;
  border: 1px solid var(--tre-light-gry-color);
  border-radius: 4px;
  display: grid;
  place-content: center;
  font-size: 1rem;
}

input[type="radio"]::before,
input[type="checkbox"]::before {
  transform: scale(0);
  color: var(--tre-white-color);
  transition: 0.2s transform ease;
  font-family: "remixicon" !important;
  font-style: normal;
  content: "\EB79";
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: var(--tre-main-color);
  border-color: var(--tre-main-color);
}

input[type="radio"].tre-error-input,
input[type="checkbox"].tre-error-input {
  background: none !important;
  border-color: var(--tre-error-color) !important;
}

input[type="radio"]:checked.tre-error-input::before,
input[type="checkbox"]:checked.tre-error-input::before {
  color: var(--tre-main-color) !important;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1;
  text-transform: capitalize;
}

input[type="text"]:-webkit-autofill,
input[type="password"]:-webkit-autofill,
input[type="email"]:-webkit-autofill,
input[type="tel"]:-webkit-autofill,
input[type="search"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:hover,
input[type="email"]:-webkit-autofill:hover,
input[type="tel"]:-webkit-autofill:hover,
input[type="search"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="password"]:-webkit-autofill:focus,
input[type="email"]:-webkit-autofill:focus,
input[type="tel"]:-webkit-autofill:focus,
input[type="search"]:-webkit-autofill:focus {
  -webkit-background-clip: text !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px var(--tre-white-color) inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input.form-control[type="file"] {
  width: 100%;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="submit"] {
  cursor: pointer;
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

fieldset {
  border: 1px #e4e4e4 solid;
  margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="url"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1;
  background-color: white;
  outline: 0 transparent;
  box-shadow: none;
  transition: all 0.4s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  border-color: var(--tre-main-color) !important;
  box-shadow: none !important;
}

select {
  height: auto;
  min-height: auto;
  min-width: 95px;
  line-height: 1.35;
  -webkit-appearance: none;
}

.container,
.container-fluid {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.container-fluid {
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

textarea {
  height: calc(11em + 0.75rem + 2px);
}

legend {
  max-width: 100%;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

small,
.small,
.text_small {
  font-size: 0.8em;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.tre-section {
  padding: 2rem 0;
}

.tre-btn {
  padding: 8px 20px;
  color: var(--tre-white-color);
  background-color: var(--tre-main-color);
  border: 1px var(--tre-main-color) solid;
  outline: none;
  display: inline-flex;
  align-items: center;
  gap: 13px;
  will-change: transform;
  text-transform: capitalize;
  border-radius: 4px;
  transition: var(--tre-transition);
  cursor: pointer;
}
.tre-btn:hover {
  color: var(--tre-white-color);
  background-color: var(--tre-hover-main-color);
  border-color: var(--tre-hover-main-color);
  transform: translateY(-2px);
  box-shadow: var(--tre-hover-shadow);
}

.tre-btn span span {
  position: relative;
  top: 0;
  display: inline-block;
  transition: top 0.4s var(--tre-trans-type),
    opacity 0.55s var(--tre-trans-type);
}

.tre-btn > span:not(.tre-icon)::before {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  opacity: 0;
  content: attr(data-text);
  z-index: 9;
  transition: top 0.4s var(--tre-trans-type),
    opacity 0.55s var(--tre-trans-type);
}
.tre-btn > span:not(.tre-icon) {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.tre-btn:hover span span {
  top: -20px;
  opacity: 0;
  color: var(--tre-white-color);
}

.tre-btn:hover > span::before {
  opacity: 1;
  top: 0;
}
/* 
------------
Header styles
------------
 */
.tre-main-header {
  padding: 1rem 2rem;
  border-bottom: 1px solid #eaecef;
  box-shadow: var(--tre-shadow);
}

.tre-main-header > .container {
  justify-content: space-between;
}

.tre-header-logo {
  width: 115px;
  height: 100%;
}
.search-input {
  padding: 0.5rem 1rem !important;
}
.tre-header-search {
  position: relative;
  width: 40%;
  padding-right: var(--tre-padding);
  border: 1px solid var(--tre-main-color);
  border-radius: 5px;
  outline: none;
}

.tre-header-search select {
  width: 130px;
  height: calc(100% - 2px);
  border: 0;
  position: absolute;
  top: 1px;
  right: 45px;
  font-size: 13px;
  border-left: 1px solid var(--tre-main-color);
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.tre-header-search .search-btn {
  width: 45px;
  background-color: var(--tre-main-color);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tre-white-color);
}
.tre-right-bar {
  display: flex;
}
.tre-right-bar .dropdown-menu {
  transition: var(--tre-transition);
  min-width: 160px;
  position: absolute;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  left: auto !important;
  top: 150%;
  border-radius: 5px;
  z-index: -1;
  box-shadow: var(--tre-shadow);
  background-color: var(--tre-white-color);
}

.tre-right-bar .dropdown-menu li {
  transition: var(--tre-transition);
  padding: 0.45rem 0.75rem;
  text-transform: capitalize;
  font-size: 0.65rem;
}

.tre-right-bar .tre-toggle-drop:hover .dropdown-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.tre-right-bar .tre-bar-item {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #000;
  z-index: 1;
  position: relative;
}
.tre-right-bar .dropdown-menu .tre-bar-item:hover {
  color: var(--tre-main-color);
}
.tre-right-bar .tre-bar-item i {
  padding-right: 5px;
  font-size: 0.875rem;
}
.dropdown-menu .dropdown-item:hover {
  color: var(--tre-main-color);
}

/* 
------------
Product Style
------------
 */
 body.tre-opened-modal {
  padding: 0 !important;
}
.tre-product-contanier {
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  padding: 1rem;
}
.tre-product-image {
  position: relative;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  padding: 2rem;
  background-color: #f7f7f7;
  height: 250px;
}

.tre-product-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 #dddada;
  transition: var(--tre-transition);
}
.tre-product-image:hover img {
  scale: 1.2;
}
.tre-pro-actions {
  transition: var(--tre-transition);
  width: calc(100% - 24px);
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  opacity: 0;
}

.tre-pro-actions a {
  transition: var(--tre-transition);
  width: 30px;
  height: 30px;
  margin: 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #2b2b2d;
  border-radius: 5px;
  border: 1px solid #eee;
}
.tre-pro-actions a:hover {
  background-color: var(--tre-main-color);
  color: var(--tre-white-color);
}
.tre-product-image:hover .tre-pro-actions {
  bottom: 15px;
  opacity: 1;
}
.tre-product-content {
  padding: 1rem 0 0;
}
.tre-product-title {
  transition: var(--tre-transition);
  text-decoration: none;
  color: var(--tre-dark-text);
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.85px;
  text-transform: capitalize;
  max-width: 400px;
    white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}
.tre-product-title a:hover {
  color: var(--tre-main-color);
}
.tre-product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.tre-product-cat {
  color: #999;
  font-size: 14px;
}
.tre-product-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tre-product-price {
  color: #2b2b2d;
  font-weight: 600;
  font-size: 15px;
}

ul.tre-size-list {
  display: flex;
  gap: 5px;
}

.tre-product-sz {
  transition: var(--tre-transition);
  min-width: 20px;
  height: 20px;
  padding: 3px 5px;
  cursor: pointer;
  font-size: 12px;
  background-color: #e7e7e7;
  color: var(--tre-black-color);
  font-weight: 400;
  border-radius: 5px;
  opacity: 0.7;
}

.tre-product-sz:hover {
  box-shadow: var(--tre-box-shadow);
  scale: 1.1;
}

.tre-product-desc{
  display: none;
}
/* 
------------
Footer Style
------------
 */
.tre-footer {
  padding: 100px 0 0 0;
  position: relative;
  border-top: 1px solid #e9e9e9;
  background-color: #f7f7f7;
}
.tre-footer-col {
  @apply sm:w-full md:w-1/2 lg:w-4/12 pr-8;
}
.tre-footer-sm-col {
  @apply sm:w-full md:w-1/2 lg:w-2/12;
}
.tre-footer-logo {
  padding-bottom: 15px;
}

.tre-footer-content {
  font-size: 14px;
}
.tre-footet-link {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 26px;
  color: #777;
  position: relative;
  margin: 0.5rem 0 0;
}
.tre-footet-link {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 26px;
  color: #777;
  position: relative;
  margin: 0.5rem 0 0;
}

.tre-footer .tre-icon i {
  font-size: 1.2rem;
  color: var(--tre-main-color);
  margin-right: 8px;
  line-height: 1;
}
.tre-sub-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  color: #000;
  margin-bottom: 15px;
}
.tre-footer-list {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}

.tre-footer-list li {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 26px;
  color: #777;
  position: relative;
}
.tre-search-footer {
  width: 100%;
  height: 44px;
  padding: 5px 15px;
  border: 1px solid #e9e9e9;
  outline: none;
  border-radius: 5px;
  margin: 1rem 0;
}
.tre-social-media {
  margin: 1rem -2px;
  display: flex;
  flex-direction: row;
}
.tre-social-media span {
  margin: 2px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.625;
  color: #000;
}

.tre-social-media a {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 11px;
  background-color: #fff;
  border: 1px solid #e1dfdf;
  border-radius: 5px;
}
.tre-social-media a:hover {
  color: var(--tre-main-color);
}
.tre-apps {
  margin-bottom: -15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 2rem 0 0;
  gap: 10px;
}

.tre-apps .app-img img {
  border-radius: 5px;
  max-width: 140px;
}
.tre-copy-rights p {
  font-size: 14px;
  color: #000;
  line-height: 1.2;
}

.tre-copy-rights {
  margin-top: 2rem;
  padding: 15px 0;
  border-top: 1px solid #e9e9e9;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
------------
SideBar Style
------------
 */
.tre-menuBtn {
  position: fixed !important;
  top: 50% !important;
  right: 0 !important;
  transform: translateY(-50%) !important;
  box-shadow: var(--tre-box-shadow) !important;
  border: 1px solid #cdc9c9e0 !important;
  border-right-color: transparent !important;
  padding: 0 !important;
  background-color: #fff !important;
  min-width: 40px !important;
  min-height: 40px !important;
  font-size: 1.25rem !important;
  z-index: 999 !important;
  border-radius: 3px 0 0 3px !important;
}
.tre-sidebar {
  transition: all 0.5s ease;
  width: 400px;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}

.tre-sidebar-header,
.tre-cart-header {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid #e9e9e9;
}

.tre-sidebar-header .tre-sidebar-title,
.tre-cart-header .tre-cart-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--tre-main-color);
}
.tre-colse-sidebar,
.tre-close-cart {
  position: relative;
  border: 0;
  font-size: 1.5rem;
  line-height: 1;
  color: #999;
  background-color: #fff;
  cursor: pointer;
  margin-right: -5px;
  transition: var(--tre-transition);
}
.tre-colse-sidebar:hover,
.tre-close-cart:hover {
  scale: 1.15;
}
.tre-sideBar-item {
  padding: 12px 0 !important;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  color: #444;
  text-decoration: none;
}
.tre-sideBar-item:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}
.tre-sideBar-item:hover * {
  padding-left: 1rem;
  color: var(--tre-main-color);
}
.tre-sidebar-cart {
  font-size: 1rem;
}
.tre-sidebar-cart i{
  margin-right:5px;
  transition:var(--tre-transition)
}
.tre-sidebar-cart i,
.tre-sidebar-cart span{
color:var(--tre-main-color);
}

.tre-sidebar-cart:hover i {
  padding-left:15px;
  scale:1.3;
}
/* 
------------
Cart Style
------------
 */

.tre-cart-btn {
  min-width: auto !important;
  font-family: inherit !important;
  text-transform: capitalize !important;
  padding: 0 !important;
  color: inherit !important;
  letter-spacing: inherit !important;
}

.tre-cart-btn:hover {
  background-color: transparent !important;
}

.tre-cart {
  width: 450px;
  height: 100%;
  margin: 0;
  padding: 1rem;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tre-cart-header .tre-cart-title {
  color: var(--tre-dark-text);
}

.tre-close-cart {
  color: var(--tre-error-color);
}
.tre-pcart-card {
  padding: 0 !important;
  margin-bottom: 20px;
  padding-bottom: 20px !important;
  display: flex;
  overflow: hidden;
  align-items: stretch !important;
  border-bottom: 1px solid #e9e9e9;
}
.tre-pcart-content {
  flex: 1 1;
  width: 70%;
  padding: 0.5rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.tre-pcart-image-wrap {
  padding: 1rem 0.5rem;
  width: 30%;
  height: 100px;
  margin: 0 10px 0 0;
  background-color: #f7f7f7;
  border-radius: 4px;
}
.tre-pcart-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 4px;
  box-shadow: var(--tre-shadow);
}
.tre-pcart-btn {
  padding: 0 9px;
  position: absolute;
  top: 5px;
  right: -10px;
  font-size: 17px;
  line-height: 15px;
  background-color: #fff;
  color: #fb5555;
  cursor: pointer;
  transition: var(--tre-transition);
}
.tre-pcart-btn:hover {
  scale: 1.15;
}
span.tre-pcart-title {
  color: #777;
  display: block;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  word-wrap: break-word;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tre-pcart-price {
  color: #777;
  font-weight: 700;
  font-size: 0.875rem;
}
.cart-qty-plus-minus {
  width: 80px;
  height: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}
.cart-qty-plus-minus button {
  height: 25px;
  width: 25px;
  margin-top: -2px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

input.quantity {
  width: 30px;
  margin: 0;
  padding: 0;
  background: transparent none repeat scroll 0 0;
  color: #444;
  border: medium none;
  float: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  height: auto;
  text-align: center;
  outline: none;
}
.tre-checkout-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 0;
}
.tre-checkout-wrap span {
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  color: var(--tre-text-color);
}
.tre-checkout-wrap span span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--tre-black-color);
}
/* 
------------
Modal Style
------------
 */
.tre-modal-box{
  position: relative;
  display: flex;
  width: 50%;
  pointer-events: auto;
  background-color: var(--tre-white-color);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 4px;
  outline: 0;
  padding: 1rem;
  align-items: stretch;
}
.tre-modal-image {
  width: 100%;
}
.tre-modal-image img {
  width: 300px;
  height: 300px;
  object-fit:fill;
  object-position:center;
}
h2#tre-modal-title {
  margin: 0 0 15px 0;
  display: block;
  color: #2b2b2d;
  font-size: 1.25rem;
  text-decoration: none;
  line-height: 1.5;
  font-weight: 500;
}

.tre-modal-content {
  width: auto;
  padding: 0 2rem;
}

.tre-modal-content p,
.tre-review-star p {
  margin-bottom: 0px;
  font-size: 14px;
  color: #7a7a7a;
  line-height: 1.75;
}
.tre-review-star {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}
.tre-review-star .tre-star {
  margin-right: 10px;
}
.tre-review-star .tre-star i {
  font-size: 16px;
  color: #f5885f;
}
.tre-modal-price{
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
.tre-modal-btn{
  font-size: .875rem;
  padding: 6px 20px;
}
/* 
------------
Loading Style
------------
 */
 .tre-loading-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .typing-indicator {
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 4;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
/* 
------------
keyframes
------------
 */
@keyframes left-right-1 {
  0% {
    left: -40px;
    transform: rotate(0deg);
  }

  50% {
    left: -50px;
    top: 5px;
    transform: rotate(-2deg);
  }

  100% {
    left: -40px;
    transform: rotate(0deg);
  }
}

@keyframes left-right {
  0% {
    left: -60px;
  }

  50% {
    left: -70px;
    top: 5px;
    transform: rotate(-2deg);
  }

  100% {
    left: -60px;
  }
}
@keyframes left-right-2 {
  0% {
    right: -90px;
    transform: rotate(0deg);
  }
  50% {
    right: -100px;
    bottom: 5px;
    transform: rotate(-2deg);
  }
  100% {
    right: -90px;
    transform: rotate(0deg);
  }
}

@keyframes wobble {
  0% {
    transform: translate(-50%, -50%);
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
      translate(-50%, -50%);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
      translate(-50%, -50%);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
      translate(-50%, -50%);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)
      translate(-50%, -50%);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
      translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes dealback {
  0% {
    background-image: url("../public/assets/images/bg-deal-2.jpg");
  }
  50% {
    background-image: url("../public/assets/images/bg-deal-3.jpg");
  }
  100% {
    background-image: url("../public/assets/images/bg-deal-2.jpg");
  }
}
@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }
  30% {
    transform: translateY(-4px);
  }
}
